@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
	--top-bar-height: 60px;
	--top-nav-height: 110px;
	--header-height: calc(var(--top-bar-height) + var(--top-nav-height));
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
body {
	font-family: "Poppins", sans-serif;
}
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	color: #fff;

	text-decoration: none;
	font-size: 1.2rem;

	cursor: pointer;
	transition: all 0.2s ease;
}
.btn.btn--primary {
	background-color: #f12869;
}
.h-100 {
	height: 100%;
}
@keyframes fadeInRight {
	from {
		right: -100%;
	}
	to {
		right: 0;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
